body {
    background-image:  url('../images/cover-002-xbleed-01.png');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
    -webkit-print-color-adjust: exact;
}

.info{
    width: 33%  !important; 
    -webkit-print-color-adjust: exact;
    position: absolute;
    top: 1210px;
    left: 60px;
    color: #165B56;
   
}

h1.name{
    font-size: 18px;
}

p.details{
    font-size: 14pt;

}

.type-report{
    font-size: 14pt;
    font-family:Roboto, sans-serif;
    color:#131e42 ;
    position: absolute;
    right: 535px;
    top: 292px;
}

p.para{
    position: absolute;
    top: 600px;
    left: 50px;
    width: 25%;
    text-align: justify;
    font-size: 14pt;
}

.cover-title{
    text-align: left;
    position: relative;
    background-color: #f15a29;
    padding-top: 50px ;
    padding-bottom: 50px ;
    padding-left: 85px ;
    top: 210px;
    left: -10px;

}

h1.title-type{
    color:white ;
    font-size: 42Pt;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: left;

}

h1.details{
    color:white ;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: left;
}

img.comp-logo{
    height: 120px;
    float: right;
    margin-right: 0.75in;
    margin-top: 0.75in;
    top: 75px;
}

img.coverlogo{
    height: 120px;
    position: absolute;
    margin-left: 0.75in;
    margin-top: 0.75in;
}

.text-uppercase{
    text-transform: uppercase;
}

.org-block{

    text-align: left;
    position: relative;
    background-color: #64c8f2;
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 85px ;
    top: 400px;
    left: -10px;
    color: white;
    font-family: Roboto, sans-serif;

}

.org-tt{

    font-weight: lighter;

}

.org-name{
    font-weight: bold;
}

@page {
    size: a4;
    margin:0;
  }
  @media print {

    * {
        -webkit-print-color-adjust: exact;
    }

    .org-block{

        text-align: left;
        position: relative;
        background-color: #64c8f2;
        padding-top: 20px ;
        padding-bottom: 20px ;
        padding-left: 85px ;
        top: 425px;
        left: -10px;
    
    }
   
    html, body {
        width: 100%;
        height: 95%;
        
    }
    h1.name{
        word-wrap: break-word;
        width: 45%;
    }
    .cover-title{
        text-align: left;
        position: relative;
        background-color: #f15a29;
        padding-top: 40px ;
        padding-bottom: 60px ;
        padding-left: 85px ;
        top: 210px;
        left: -10px;

    }

    .date{
        text-align: left;
    }

    img.comp-logo{
        float: right;
        margin-left: 0.75in;
        margin-top: 0.75in;
    }

    img.coverlogo{
        position: absolute;
        margin-left: 0.75in;
        margin-top: 0.75in;
    }

    .type-report{
        position: absolute;
        right: 75px;
        top: 285px;
    }
    
  }

@media only screen {
    html,body{
    width: 210mm;
    height: 297mm;
    }
    
    * {
        -webkit-print-color-adjust: exact;
    }

}