body{
    background-color:white;
    font-family: Lato, sans-serif;
    width: 100%;
}

.containerw{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.score-category{
    visibility:;
}

.table-1{
    visibility:;
}


.header-container {
    width: 85%;
    -webkit-print-color-adjust: exact;
    margin: auto;
    top: 0;
}

.logo{
    height: 80px;
    width: auto;
}

.sub-header {
    font-size: 16px;
    font-family: Verdana, serif;
    color: #4b4a4a;
}

.header-tbl {
    border-spacing: 10px;
    border-collapse: separate;
    color: #f15a29;
    font-size: 12px;
}

.line-blue{
    border-bottom: 4pt solid #64c8f2;
}

.line-orange{
    border-bottom: 4pt solid #f15a29;
}

h1.heading-1{
    font-size: 24pt;
    color: #64c8f2;
    font-weight: bold;
}

.heading-2{
    font-size: 18px;
}

h1.heading-1-1{
    font-size: 24pt;
    color: #64c8f2;
    font-weight: lighter;
}

.text-uppercase{
    text-transform: uppercase;
}

.heading-dim2{
    font-size: 14pt;
}

.bold{
    font-weight: bold;
}

.bg-color-header {
    background-color: #006c99;
    padding: 10px;
    height: 35px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-size: 10pt;
    color: white;
}

.para{
    font-size: 16px;
}

.para-block{
    background-color: #64c8f2;
    color: white;
    padding: 25px;
    font-size: 16px;
}

.para-block1{
    background-color: #006c99;
    color: white;
    padding: 2px 25px;
    font-size: 16px;
}

.para-block2{
    background-color: #64c8f2;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
}


.header-table {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(184, 174, 174)84, 174, 174);
}

.sum-score{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;    
}

.heading {
    text-align: left;
    font-size: 24pt;
    font-weight: normal;
}

.heading-text{
    font-size: 18pt;
    font-weight: bold;
    text-align: justify;
}

.blue{
    background-color: #35a3d9;
    color: white;
}
.white{
    background-color: #d6e6f6;
}
.tbl-foot td{
    border: 2px solid white;
}
.tbl-foot{
    border-top: 5px solid #35a3d9;
}
.heading-dim{
    font-size: 18pt;
}

.tbl td{
    padding: 5px;
    margin: auto;
}
   

.tbl{
    font-size: 14px;
    border-collapse: collapse;
}

.tbl-no{
    text-align: center;
}

.ss{
    background-color: #d6e6f6;
}

.tbl-body td{
    border-bottom: 1px solid #3381ac;

}

.tbl-head td{
    background-color: #35a3d9;
    color: white;
    text-align: center;
    font-size: 14px;
    border: 2px solid white;
}
.dimension-bg{
    background-color: #d6e6f6;
    padding: 10px 0 20px 0;
    width: 100%;
}

.dim-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dim-title{
    font-weight: 700;
    position: absolute;
    margin-top: 20px;
    margin-left: 175px;
}

img.icon{
    margin-top: 20px;
}

hr.line-d{
    border-top: 1.8px solid lightgrey;
}

.huge{
    font-size: 60pt;
    color: white;
    margin-top: -20px;
}

.margin-20{
    margin-top: -50px;
    color: white;
}
p.para2 {
    font-size: 11pt;
}

.d-bg{
    background-color: #f1f1f2;
    padding: 5px 10px;
    border-radius: 25px;
}

.text-justify{
    text-align: justify;
}

.img_icon{
    height: 125px;
    margin: auto;
}

.icon-insight{
    height: auto;
}
.img1 img{
    width: 100%;
}

.img2 img{
    width: 100%;
    margin-top: 0px;
}

p.caption{
    font-size: 14px;
    text-align: left;
}

.low-sc{
    background-color: white;
    color: black;
    margin-left: 15px;
}

.med-sc{
    background-color: #b1bec5;
    color: black;
}

.high-sc{
    background-color: #5f7e8c;
    color: white;
}

.pr-sc{
    background-color: white;
    color: black;
    border: 1px solid #3381ac;
    font-size: 14px;
}

.ss-sc{
    background-color: #d6e6f6;
    color: black;
    border: 1px solid #3381ac;
    font-size: 14px;
    
}

.img2 img{
    width: 75px;
    margin-top: 28px;
}



li.borderless{
    border: 0 none;
    background: none;
}



/* ====================== High Charts ======================*/
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 600px;
    background-color:transparent;
}

.highcharts-figure-stack, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 900px;
    background-color:transparent;
}

#container-stack {
    height:710px;
    background-color:transparent;
}

.highcharts-data-table table {
	font-family: Roboto, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container1 {
    width: 420px;
    margin: 20px auto;
  }


#container-donut{
    height:100% ;
    width: 200px;
    overflow: hidden;
}

#container-donut7,#container-donut8,#container-donut9, #container-donut10,#container-donut11,#container-donut12,#container-donut13,#container-donut14,
#container-donut15,#container-donut16 , #container-donut17{
    height:100% ;
    width: 200px;
    overflow: hidden;
}

/* ============= Footer =========================== */ 
.footer {
    height: 65px;
    width: 100%;
   -webkit-print-color-adjust: exact;
    position: fixed ;
    bottom: 0;
    left: 0;
}

.footer-text {

    color: #006c99;
    font-size: 8pt;
}

.footer-logo-style {
    line-height: 49px;
}

.text-heading{
    font-size:22px ;
}



.department-tbl{
    width: 100%;
    text-align: center;
    
}

.department-tbl th{
    text-align: center;
    color: white;
    font-size: 12pt;
    background-color: #006c99;
    padding: 10px 5px;
}

.department-tbl td{
    padding:  5px;
}

.tbl-left {
    text-align: left !important;
    padding-left: 10px;
}

.score-range img{
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.sub-heading{
    font-size: 14pt;
    font-weight: bold;
}

#container-overall{
    height: 420px;
    width: 400px;
    overflow: hidden;
}

.score-txt {
    font-weight: normal; font-size: 10pt;
}

table.def-tbl td{
    padding: 25px;
    border: 1px solid #A1B5D6;
    vertical-align: top;
    
}

.legacy{
    font-size: 10pt;
}

.top-scores{
    background-color: #A7D9C4; text-align: center; border-radius: 15px;
    font-size: 24px;
}

.score-no{
    font-weight: bolder; font-size: 24pt;
}

.txt-insight{
    font-weight: normal; font-size: 22px;
}

.insight-head{
    font-size: 24pt;
}

.col-in{
    width: 50%;
    padding: 0 20px;
}

.col-ov{
    width: 58.3333%;
    padding: 0 20px;
}

.col-ov2{
    width: 41.6666%;
    padding: 0 20px;
}

img.icon-20{
    height: 100%;
    width: 100%;
}

.b-bg{
    background-color: #227CA2; padding: 20px;
}

/********************* LArge Screen **********************************/
@media only screen and (min-width: 1200px) {

    .heading-dim{
        font-size: 42px;
    }

    p.caption{
        font-size: 14px;
        text-align: left;
    }

    .legacy{
        font-size: 20pt;
    }

    .dim-title{
        margin-top: 45px;
        margin-left: 300px;
    }

    h1.welcome{
        font-size: 42pt;
        font-weight:400;
        color: #00293f;
    }
    
    h1.engage{
        font-size: 62pt;
        font-weight: 500;
        margin-top: -25px;
        color: #00293f
    }

    
    .heading-dim2{
        font-size: 20pt;
    }
    
  

    .bg-color-header {
        background-color: #006c99;
        padding: 10px;
        height: 45px;
        margin-bottom: 5px;
        vertical-align: middle;
        font-family: Lato, sans-serif;
        font-size: 16pt;
        color: white;
    }

    
    #container-donut{
        height: 70%;
        width: 100%;
        overflow: hidden;
    }

    #container-donut7,#container-donut8,#container-donut9, #container-donut10,#container-donut11,#container-donut12,#container-donut13,#container-donut14,
    #container-donut15,#container-donut16, #container-donut17 {
        height:75%;
        width: 72%;
        overflow: hidden;
       
    }
    
    .department-tbl th{
        
        font-size: 22px;
        
    }

    .department-tbl td{
        font-size: 22px;
    }


    .footer {
        height: 65px;
        width: 100%;
       -webkit-print-color-adjust: exact;
        position: fixed ;
        bottom: 0;
        left: 0;
    }
    
    .footer-text {
    
        color: #006c99;
        font-size: 16pt;
    }

    .insight-head{
        font-size: 42pt;
    }

    .sub-insight{
        font-size: 24pt;
    }

    .dpt-score{
        font: 8pt;
    }

    img.icon-20{
        height: 100%;
        width: 100%;
        
    }

    .b-bg{
        background-color: #227CA2; padding: 50px;

    }
    
    
}
/********************* LArge Screen END **********************************/



/********************* PRINT **********************************/
@page {
    size: a4 landscape;
    margin:0 0 0 0 ;
  }
  @media only print {
    html, body {
        width: 100%;
        height: 95%;
    }

    .page-layout {
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;           
    }       

    p.caption{
        font-size: 10pt;
        text-align: left;
    }

    .highcharts-figure-stack, .highcharts-data-table table {
        width:fit-content;
        margin-left: -10px;
        background-color:transparent;
        margin-right: 50px;
    }
    
    #container-stack {
        height:fit-content;
        background-color:transparent;
    }

    .header-tbl {
        font-size: 8pt;
    }

    img.icon{
        margin-top: 28px;
        height: 75px;
        width: 75px;
    }

    .logo{
        height: 80px;
        width: auto;
    }

    p.para{
        font-size: 12pt;
    }

    .para-block{
        font-size: 12pt;
    }

    .dim-title{
        margin-top: 10px;
        margin-left: 120px;
    }


    #container-overall{
        height: 420px;
        width:100%;
        overflow: hidden;
        
    }

    .icon-insight{
        margin-top: 10px;
        height: 22.5px;
    }

    .txt-insight{
        font-weight: normal; font-size: 10pt;
    }

    .insight-head{
        font-size: 18pt;
    }

    .sub-insight{
        font-size: 14pt;
    }

    .container{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .heading-2{
        font-size: 14pt;
    }

    
    .heading-dim2{
        font-size: 14pt;
    }

    img.icon-20{
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }

    .desc{
        position: fixed;
        width: 86%;
        left: 0.95in;
    }

    .desc-space{
        height: 90px;
    }

    .tbl{
        font-size: 8pt;
    }
    
      .pr-sc{
        background-color: white;
        color: black;
        border: 1px solid #3381ac;
        font-size: 8pt;
    }
    
    .ss-sc{
        background-color: #d6e6f6;
        color: black;
        border: 1px solid #3381ac;
        font-size: 8pt;
        
    }

    .footer {

        position: fixed ;
        bottom:0;
        left: 0;
    }


    
    
  }

  /********************* PRINT END **********************************/

